{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Message_id</th>
                <td>{{ message.messageId }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ message.contenu }}</td>
            </tr>
            <tr>
                <th>Date_publication</th>
                <td>{{ message.datePublication ? message.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ message.userId }}</td>
            </tr>
            <tr>
                <th>Forum_id</th>
                <td>{{ message.forumId }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ message.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_message_index') }}">back to list</a>

    <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
