<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendors/css/vendors.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendors/css/daterangepicker.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme.min.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/vendors/js/vendors.min.js') }}"></script>
            <script src="{{ asset('assets/vendors/js/daterangepicker.min.js') }}"></script>
            <script src="{{ asset('assets/js/common-init.min.js') }}"></script>
            <script src="{{ asset('assets/js/theme-customizer-init.min.js') }}"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
